/* .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #1F618D;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  
  .form-group label {
    color: #1F618D;
    font-weight: bold;
  }
  
  .form-control, .form-select {
    border: 1px solid #1F618D;
  }
  
  button {
    background-color: #1F618D;
    color: #fff;
    border: none;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #15457a;
  }
  
  .mt-5 {
    margin-top: 5rem;
  }
  
  .contact-box {
    margin-top: 10px;
  }
   */